@use "./theme.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  @apply backface-hidden;
  @apply before:backface-hidden;
  @apply after:backface-hidden;
  @apply selection:bg-accentDark;
  @apply selection:text-accentContrast;
}

:root {
  @apply antialiased;
  accent-color: var(--accent-color);
  font-variant-ligatures: common-ligatures;
}

// ::-webkit-scrollbar-track {
//   @apply bg-transparent;
// }

// ::-webkit-scrollbar-thumb {
//   @apply bg-divider bg-clip-content;
//   @apply rounded-full;
//   @apply border-solid border-transparent border-4;
//   @apply hover:bg-dividerDark;
//   @apply hover:bg-clip-content;
// }

::-webkit-scrollbar {
  @apply w-4;
  @apply h-4;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary;
  @apply text-secondary;
  @apply font-medium;
  @apply select-none;
  @apply overflow-x-hidden;
  @apply text-body;
  @apply leading-body;

  animation: fade 300ms forwards;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

a {
  @apply inline-flex;
  @apply text-current;
  @apply no-underline;
  @apply outline-none;
  @apply transition;
}

.container {
  @apply max-w-screen-xl;
  @apply mx-auto;
}

.input {
  @apply border;
  @apply border-solid;
  @apply border-accent;
  @apply p-2;
  @apply rounded;
  @apply focus:border-accentDark;
  @apply focus:outline-none;
  @apply text-accentContrastDark;
}
