@mixin common-theme {
  --accent-color: #73b6e0;
  --accent-light-color: #a5c5da;
  --accent-dark-color: #41aad4;
  --accent-contrast-color: #fff;
  --accent-contrast-black-color: #000;
}

@mixin dark-theme {
  --primary-color: rgb(27, 25, 25);
  --primary-light-color: rgb(46, 46, 46);
  --primary-dark-color: rgb(0, 0, 0);
  --secondary-color: rgb(248, 246, 246);
  --secondary-light-color: #fff;
  --secondary-dark-color: rgb(204, 204, 204);
  --error: #ac1717;
  --success: #149b14;
  --warning: #b3b311;
  --info: rgb(19, 51, 153);
}

@mixin light-theme {
  --primary-color: rgb(248, 246, 246);
  --primary-light-color: #fff;
  --primary-dark-color: rgb(204, 204, 204);
  --secondary-color: rgb(17, 17, 17);
  --secondary-light-color: rgb(46, 46, 46);
  --secondary-dark-color: rgb(0, 0, 0);
  --error: #e71414;
  --success: #12c212;
  --warning: #e2e23c;
  --info: rgb(33, 70, 194);
}

body {
  @include common-theme;
}

body.dark {
  @include dark-theme;
}

body.light {
  @include light-theme;
}
